export ACCOUNT_ID=xxxxxxxxxxxxx
export REGION="us-east-1"
export STACK_NAME="anycompany-ivr"
export INSTANCE_ALIAS="anycompany-ivr-demo"
export BUCKET="anycompany-cf-bucket-xxxx1"
export PREFIX="anycompany-ivr/templates"
export ENVIRONMENT="dev"
export AGENTCORE_TARGET_NAME="anycompanyDemoIVRApi"
export KB_BUCKET="anycompany-kb-bucket-xxxx"
export OPENAPI_BUCKET="anycompany-openapi-bucket"
export CONNECT_INSTANCE_ID=""  # Set after Connect instance is created